{
  "parser": "babel-eslint",
  "extends": ["plugin:flowtype/recommended", "airbnb"],
  "plugins": ["flowtype"],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": 0
  }
}
