// @flow

import React, { Component } from 'react';

class {{ properCase name }} extends Component {
  render() {
    return (
      <div>
        {{ properCase name }} Component
      </div>
    )
  }
}

export default {{ properCase name }};
